html {
  font-family: "open sans", "sans-serif";
  color: #373a3c;
}
a {
  transition: 0.5s;
}
/* sidebar */

#sidebar {
  background-color: #006599;
  position: fixed;
  height: 100%;
  width: 300px;
  padding-top: 40px;
}
#sidebar h1 {
  color: white;
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
#sidebar a:hover {
  color: #f4ef5e;
}
#sidebar li {
  padding: 20px;
}
.sidebar_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.logo_sweet {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/*conteudo */
.content {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
}
.content h1,
.content h2 {
  color: #006599;
  margin-bottom: 30px;
}
.content h1 {
  font-size: 48px;
}
.content h2 {
  font-size: 35px;
}
section {
  padding-left: 50px;
}
/*bem vindo*/

.sessao_bemVindo {
  padding-left: 0;
}
.sessao_bemVindo_content {
  padding-left: 50px;
}
.sessao_bemVindo .banner {
  height: 500px;
  background-image: url("/img/banner2.jpg");
  background-position: center;
  background-size: cover;
}
.sessao_bemVindo h1 {
  margin-top: 70px;
}
.sessao_bemVindo::after,
.sessao_sobre::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 100px;
}

.sessao_minibanner {
  width: 300px;
  height: 400px;
  background-image: url("/img/banner3.jpg");
  background-position: center;
  background-size: cover;
  float: left;
}
.sessao_descricao {
  position: absolute;
  left: 370px;
  padding-right: 30px;
}
.sessao_descricao p {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 25px;
}
.sessao_btn,
form input[type="submit"] {
  background-color: #006599;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  transition: 0.5s;
  display: block;
  width: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-left: 25px;
}
.sessao_btn:hover,
form input[type="submit"]:hover {
  background-color: #2790c6;
}
/* sessao sobre */

#sessao_sobre,
.sessao_minibanner {
  float: right;
  margin-right: 50px;
  background-image: url("/img/banner4.jpg");
  background-repeat: repeat;
}
#sessao_sobre,
.sessao_descricao {
  position: absolute;
  left: 25px;
  width: calc(100% - 400px);
}

/* galerias */
.banner_galeria {
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 200px;
}
.sessao_doces1,
.sessao_doces2,
.sessao_doces3 {
  padding-right: 50px;
  padding-bottom: 50px;
}
.doces1_img {
  width: 18.8%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#img1 {
  background-image: url("/img/galeria1.jpg");
  margin-left: 0;
}
#img2 {
  background-image: url("/img/galeria2.jpg");
}
#img3 {
  background-image: url("/img/galeria3.jpg");
}
#img4 {
  background-image: url("/img/galeria4.jpg");
}
#img5 {
  background-image: url("/img/galeria5.jpg");
  margin-right: 0;
}
.doces2_img {
  width: 32.3%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#img6 {
  background-image: url("/img/galeria6.jpg");
  margin-left: 0;
}
#img7 {
  background-image: url("/img/galeria7.jpg");
}
#img8 {
  background-image: url("/img/galeria8.jpg");
}
.doces3_img {
  width: 23.9%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
#img9 {
  background-image: url("/img/galeria9.jpg");
  margin-left: 0;
}
#img10 {
  background-image: url("/img/galeria10.jpg");
}
#img11 {
  background-image: url("/img/galeria11.jpg");
}
#img12 {
  background-image: url("/img/galeria12.jpg");
}
/*contatos */
.form_contato {
  width: 500px;
}
.form_contato input[type="text"],
.form_contato input[type="email"],
.form_contato textarea {
  display: block;
  border: 1px solid #006599;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  font-family: "open sans", sans-serif;
}
.form_contato input[type="text"]:focus,
.form_contato input[type="email"]:focus,
.form_contato textarea:focus {
  border-color: #2790c6;
}
.form_contato textarea {
  height: 150px;
}
.form_contato ::placeholder {
  color: #2790c6;
}
.form_contato input[type="submit"] {
  margin-left: 0;
  font-size: 16px;
  width: 180px;
}
/*footer*/
footer {
  height: 100px;
  padding-top: 150px;
  color: #006599;
}
footer p {
  text-align: center;
}
